.carousel-container {
	padding: 0px 27.938px 0px 27.938px;
	height: 265.33px;
	width: 875.5px;
}

.film-list {
	display: flex;
	width: 100vw;
}

.film-container {
	margin-right: 12px;
	width: 299px;
	height: 216.66px;
	display: flex;
	flex-direction: column;
    cursor: pointer;
}

.film-title {
	width: 299px;
	height: 21.33px;
	text-align: center;
	margin-top: 2px;
}

.film-image-characteristics {
	width: 299px;
	height: 168px;
}

.genre-title {
	width: fit-content;
	height: 22px;
	margin: 12px 0px 10px 0px;
    cursor: pointer;
    border: 3px black dotted;
}
