.imagethentext{
    height: 90vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.righttext{
    background-color: black;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.righttexttitle{
    width: 80%;
    background: none;
    color: white;
    font-size: 53px;
    font-weight: 800;
    margin:0 0 10px 1px;
}

.righttexttext{
    width: 80%;
    background: none;
    font-size: 25px;
    color: white;
}

.leftimage{
    width: 47%;
    background-color: black;
    margin-right: 8px;
}

.leftimageimage{
    background-color: black;
}

.breakDiv{
    width: 100%;
    height: 9px;
    background-color: rgb(50, 50, 50);
}