*{
    background-color: #181818;
}

.cardContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
.title{
    color: white;
    font-size: 32px;
    height: auto;
    transform: translateX(40px)translateY(60px);
}
.column{
    display: flex;
    flex-direction: column;
}