.headerContainer {

    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: relative;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;


}

.imageContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.contentContainer {
    padding: 0 70px;
    position: absolute;



}

.titleLogo {
    width: 60%;
    margin-bottom: 20px;
    font-size: 90px;
    color: #E50914;
}

.title {
    color: white;
    font-weight: lighter;
    margin-bottom: 10px;
}

.movieInfo {
    display: flex;
    flex-direction: row;
    color: grey;
    font-size: 14px;
    gap: 5px;

}

.maturity {
    border: 1px solid grey;
}

.movieDescription {
    padding-top: 10px;
    font-size: 16px;
    color: white;
    width: 50%;
}

.cast {
    display: flex;
    flex-direction: row;
    color: white;
    padding-top: 10px;
    font-size: 14px;
}

.cast span {
    color: grey;
    padding-right: 12px;
}

.headerJoin {
    margin: 20px 70px 0px 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #393838;
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.headerJoinLeft{
    display: flex;
    flex-direction: row;
    padding: 8px 0px;
    align-items: center;
    
}

.headerJoinLeft img {

    width: 5vw;
    height: 2vw;
    cursor: pointer;
}

.headerJoinRight{
    padding-right: 10px;
}


.headerJoinRight .btnLogin{
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    padding: 8px 20px;
    background-color: 	#E50914;
    color: white;
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    .headerContainer {
        height: 70vh;
    }

    .title {
        font-size: 24px;
    }

}