
.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.title{
    color: white;
    margin:20px 0px;
    font-size: 20px;
}

.cardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.cardContainer img{
    width: 23%;
    height: 200px;
    border: 1px solid red;

    
}
/* .card{
    border: 1px solid red;
    background-color: red;
    padding:90px 170px;
} */